body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table {
  background-color: rgba(3, 1, 1, 0.26);
  margin: 0 auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  color: white;
}

td,
th {
  border: 1px solid rgba(3, 1, 1, 0.26);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(3, 1, 1, 0.26);
}
input.shadow.border.border-rounded.border-white {
  background-color: rgba(3, 1, 1, 0.26);
  margin: 5px;
  color: white;
  text-emphasis-color: #660e40;
}
form {
  margin-right: 900px;
  background-color: rgba(3, 1, 1, 0.26);
}
ul {
  margin-right: 900px;
}
h1 {
  margin-right: 900px;
}
.col {
  flex: 1 0 0%;
  color: white;
  width: 400px;
  height: 175px;
  border: solid rgba(245, 242, 242, 0.281) 0.25px;
  background-color: rgba(3, 1, 1, 0.26);
}
p {
  margin-top: 25px;
}
h3 {
  color: #dbe1ea;
}
